pipeline/esercizio1.json
{
	"name": "esercizio1",
	"properties": {
		"activities": [
			{
				"name": "FULL LOAD Customer",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE ETL.Customer_CatucciDomenico;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "Customer"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dat_db_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "Customer_CatucciDomenico"
						}
					}
				]
			},
			{
				"name": "InsertMetadata",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "FULL LOAD Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dat_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "owner",
									"type": "String",
									"value": "DomenicoCatucci",
									"direction": "Input"
								},
								{
									"name": "tablename",
									"type": "String",
									"value": "Customer_CatucciDomenico",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "INSERT INTO ETL.LoadMeta(Owner, TableName, LastLoad)\nVALUES (@owner, @tablename, GETDATE())"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COALESCE(MAX(LastLoad), 'NULL') as MaxDate\nFROM ETL.LoadMeta\nWHERE Owner = 'DomenicoCatucci' \nAND TableName = 'SalesOrderDetail_CatucciDomenico'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "LoadMeta"
						}
					}
				}
			},
			{
				"name": "LastLoadDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "maxdate",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.MaxDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If LastLoadDate is NULL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(variables('maxdate')), 'NULL')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Insert new Records Only",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT *\nFROM SalesLT.SalesOrderDetail\nWHERE ModifiedDate > ''', variables('maxdate'), '''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											}
										},
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 38
											},
											"sink": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 8,
												"precision": 36
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": "SalesOrderDetail"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dat_db_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "ETL",
										"table": "SalesOrderDetail_CatucciDomenico"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Insert all",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											}
										},
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 38
											},
											"sink": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 8,
												"precision": 36
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": "SalesOrderDetail"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dat_db_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "ETL",
										"table": "SalesOrderDetail_CatucciDomenico"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "InsertMetadata INCREMENTAL",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "If LastLoadDate is NULL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dat_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "owner",
									"type": "String",
									"value": "DomenicoCatucci",
									"direction": "Input"
								},
								{
									"name": "tablename",
									"type": "String",
									"value": "SalesOrderDetail_CatucciDomenico",
									"direction": "Input"
								},
								{
									"name": "loaddate",
									"type": "Datetime",
									"value": {
										"value": "@variables('maxdate')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "INSERT INTO ETL.LoadMeta\nSELECT @owner, @tablename, MAX(SODCD.ModifiedDate)\nFROM ETL.SalesOrderDetail_CatucciDomenico AS SODCD\nWHERE SODCD.ModifiedDate not in (SELECT LastLoad FROM ETL.LoadMeta WHERE Owner='DomenicoCatucci' AND TableName='SalesOrderDetail_CatucciDomenico')"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"maxdate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Domenico_catucci"
		},
		"annotations": []
	}
}