pipeline/IncrementalLoad_V2.json
{
	"name": "IncrementalLoad_V2",
	"properties": {
		"activities": [
			{
				"name": "GetLastLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(LastLoad) AS LastLoad\nFROM ETL.LoadMeta",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "LoadMeta"
						}
					}
				}
			},
			{
				"name": "SetLastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('GetLastLoad').output.firstRow.LastLoad",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Count'), '0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Incremental_Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TimestampCheck",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "FullLoad",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											}
										},
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 38
											},
											"sink": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 8,
												"precision": 36
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": "SalesOrderDetail"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IncrementalLoad",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "SalesCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetLastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS Conto\nFROM ETL.SalesOrderDetail_ClementiJunio",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IncrementalLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SalesCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Count",
					"value": {
						"value": "@string(activity('SalesCount').output.firstRow.Conto)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LastLoad": {
				"type": "String"
			},
			"Max": {
				"type": "String"
			},
			"Data_Modifica": {
				"type": "String"
			},
			"Check": {
				"type": "Boolean"
			},
			"Count": {
				"type": "String"
			},
			"Data_ETL": {
				"type": "String"
			},
			"Data_Sales": {
				"type": "String"
			}
		},
		"folder": {
			"name": "JunioClementiEsercitazione"
		},
		"annotations": []
	}
}