pipeline/Incremental.json
{
	"name": "Incremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(' SELECT COALESCE (LastLoad, ''01/01/1900'') as LastLoad FROM ETL.LoadMeta\n    WHERE TableName='' ', pipeline().parameters.table,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 8,
									"precision": 36
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "SalesOrderDetail_BarbagalloFrancesco"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.LastLoad",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string",
				"defaultValue": "SalesOrderDetail_BarbagalloFrancesco"
			}
		},
		"variables": {
			"LastLoad": {
				"type": "String"
			},
			"MaxModifiedDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EsercitazioneBarbagalloFrancesco"
		},
		"annotations": []
	}
}