pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "GetLastLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(LastLoad) AS LastLoad\nFROM ETL.LoadMeta",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "LoadMeta"
						}
					}
				}
			},
			{
				"name": "SetLastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('GetLastLoad').output.firstRow.LastLoad",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "IncrementalLoad",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT*\nFROM SalesLT.SalesOrderDetail as A\nWHERE LastLoad>A.ModifiedDate",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": "SalesOrderDetail"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IncrementalLoad",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"LastLoad": {
				"type": "String"
			}
		},
		"folder": {
			"name": "JunioClementiEsercitazione"
		},
		"annotations": []
	}
}