pipeline/Incremental2.json
{
	"name": "Incremental2",
	"properties": {
		"activities": [
			{
				"name": "timestamp1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT coalesce(LastLoad, ''01/01/1970'') as LastLoad\n    FROM ETL.LoadMeta\n    WHERE TableName=''', pipeline().parameters.table,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set_timestamp1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "timestamp1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxModifiedDate1",
					"value": {
						"value": "@activity('timestamp1').output.firstRow.MaxModifiedDate1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "max",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set_timestamp1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT MAX(ModifiedDate) as Max\nFROM SalesLT.SalesOrderDetail_BarbagalloFrancesco')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "SalesOrderDetail"
						}
					}
				}
			},
			{
				"name": "set_max",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "max",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxModifiedDate1",
					"value": {
						"value": "@activity('max').output.firstRow.MaxModifiedDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set_max",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "Incremental",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Incremental",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						},
						{
							"name": "Script2",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scripts": [],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string",
				"defaultValue": "SalesOrderDetail_BarbagalloFrancesco"
			}
		},
		"variables": {
			"MaxModifiedDate1": {
				"type": "String"
			},
			"Max": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EsercitazioneBarbagalloFrancesco"
		},
		"annotations": []
	}
}