pipeline/IncrLoad.json
{
	"name": "IncrLoad",
	"properties": {
		"activities": [
			{
				"name": "Get_LastLoad_var",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT COALESCE (GioelePerri, '', 01/01/1900) as LastLoad\n    FROM ETL.LoadMeta\n    WHERE TableName='' ', pipeline().parameters.meta_table)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": {
								"value": "@pipeline().parameters.meta_table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "LastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_LastLoad_var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('Get_LastLoad_var').output.firstRow",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "SalesOrderDetail_PerriGioele"
						}
					}
				]
			}
		],
		"parameters": {
			"meta_table": {
				"type": "String"
			}
		},
		"variables": {
			"LastLoad": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Esercizi"
		},
		"annotations": []
	}
}