pipeline/LoadIncremental_ip.json
{
	"name": "LoadIncremental_ip",
	"properties": {
		"activities": [
			{
				"name": "GetLastLoad",
				"description": "recuperare ultimo time stamp, dati con data maggiore dell'ultimo load effettuato",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select LastLoad from etl.LoadMeta\nwhere Owner = 'PapagnoIlaria' and TableName = 'SalesOrderDetail_PapagnoIlaria'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "LoadMeta"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('GetLastLoad').output.firstRow.LastLoad",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetMaxValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(ModifiedDate)\nFROM SalesLT.SalesOrderDetail",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "table",
							"table": "table"
						}
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetMaxValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('GetMaxValue').output.firstRow.MAX, variables('LastLoad'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "IncrementalLoad",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from SalesLT.SalesOrderDetail where ModifiedDate > ''',variables('LastLoad'),'''')\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dat_db_DynamicTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "ETL",
										"table": "SalesOrderDetail_PapagnoIlaria"
									}
								}
							]
						},
						{
							"name": "MaxModifiedDate_copy1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "IncrementalLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT max(ModifiedDate) as MAX\nfrom ETL.SalesOrderDetail_PapagnoIlaria",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dat_db_DynamicTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "test",
										"table": "test"
									}
								}
							}
						},
						{
							"name": "UPDATE",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "MaxModifiedDate_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "dat_db",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Table": {
				"type": "string",
				"defaultValue": "SalesOrderDetail"
			}
		},
		"variables": {
			"LastLoad": {
				"type": "String",
				"defaultValue": "SalesOrderDetail"
			},
			"MaxModifiedDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IlariaPapagnoEsercitazione"
		},
		"annotations": []
	}
}