pipeline/LoadIncr.json
{
	"name": "LoadIncr",
	"properties": {
		"activities": [
			{
				"name": "Get_LastLoad_var",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT COALESCE (LastLoad, ''01/01/1900'') as LastLoad\n    FROM ETL.LoadMeta \n    WHERE TableName=''', pipeline().parameters.meta_table,'''')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "@pipeline().parameters.meta_table"
						}
					}
				}
			},
			{
				"name": "LastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_LastLoad_var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": "@activity('Get_LastLoad_var').output.firstRow.LastLoad"
				}
			},
			{
				"name": "IncrLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT *\n         FROM SalesLT.SalesOrderDetail\n         WHERE ModifiedDate>''', variables('LastLoad'),'''')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesTL",
							"table": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "SalesOrderDetail_SorbelloAndrea"
						}
					}
				]
			},
			{
				"name": "Max_Modified_Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IncrLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT MAX(ModifiedDate) as MaxModifiedDate\nFROM ETL.SalesOrderDetail_PerriGioele')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "SalesOrderDetail_SorbelloAndrea"
						}
					}
				}
			},
			{
				"name": "Write_Date",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Max_Modified_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WriteDate",
					"value": "@activity('Max_Modified_Date').output.firstRow.MaxModifiedDate"
				}
			},
			{
				"name": "MetaLoadWrite",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Write_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "dat_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "@concat('update ETL.LoadMeta set LastLoad = ''',\nvariables('WriteDate'),\n''' where Owner = ''AndreaSorbello'' and TableName =''SalesOrderDetail_SorbelloAndrea''')\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"meta_table": {
				"type": "string",
				"defaultValue": "SalesOrderDetail_SorbelloAndrea"
			}
		},
		"variables": {
			"LastLoad": {
				"type": "String"
			},
			"WriteDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Esercitazione"
		},
		"annotations": []
	}
}