pipeline/pipelineLN2.json
{
	"name": "pipelineLN2",
	"properties": {
		"activities": [
			{
				"name": "Get_LastLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "@pipeline().parameter"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "set_LastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": "@activity('Get_LastLoad').output.firstRow.LastLoad"
				}
			},
			{
				"name": "IncrementLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ADW_Table",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LastLoad": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LeaNicita"
		},
		"annotations": []
	}
}