pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set MaxModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('MaxModifiedDate'), variables('LastLoad'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "IncrementalLoad",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from SalesLT.'\n,pipeline().parameters.nome_tabella\n,' where ModifiedDate > '''\n,variables('LastLoad')\n,''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADW_Table",
									"type": "DatasetReference",
									"parameters": {
										"schema": "test",
										"table": "test"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dat_db_DynamicTable",
									"type": "DatasetReference",
									"parameters": {
										"schema": "ETL",
										"table": "SalesOrderDetail"
									}
								}
							]
						},
						{
							"name": "Final Update",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "IncrementalLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "dat_db",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update ETL.LoadMeta set LastLoad = ''',\nvariables('MaxModifiedDate'),\n''' where Owner = ''AmedeoTolace'' and TableName = ''',\npipeline().parameters.nome_tabella,\n''''\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "GetLastLoadMetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat(\n'SELECT COALESCE(LastLoad,''01/01/1900'') AS LastLoad\nFROM ETL.LoadMeta\nWHERE Owner=''AmedeoTolace'' and TableName=''SalesOrderDetail'' '\n)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ETL",
							"table": "LoadMeta"
						}
					}
				}
			},
			{
				"name": "Set LastLoad",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastLoadMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastLoad",
					"value": {
						"value": "@activity('GetLastLoadMetaData').output.firstRow.LastLoad",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetMaxModifiedDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select max(ModifiedDate) as MaxModifiedDate from SalesLT.',pipeline().parameters.nome_tabella)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADW_Table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"table": "SalesLT.OrderDetails"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set MaxModifiedDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMaxModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxModifiedDate",
					"value": {
						"value": "@activity('GetMaxModifiedDate').output.firstRow.MaxModifiedDate",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"nome_tabella": {
				"type": "string",
				"defaultValue": "SalesOrderDetail_TolaceAmedeo"
			}
		},
		"variables": {
			"MaxModifiedDate": {
				"type": "String"
			},
			"LastLoad": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AmedeoTolace"
		},
		"annotations": []
	}
}