pipeline/VariableParametersExample.json
{
	"name": "VariableParametersExample",
	"properties": {
		"activities": [
			{
				"name": "Set VTableName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "VTableName",
					"value": {
						"value": "DimProduct_Copy",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Select Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set VTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.PSchemaName",
								"type": "Expression"
							},
							"table": {
								"value": "@variables('VTableName')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set VTableName 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Select Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "VTableName",
					"value": {
						"value": "DimProduct",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Select Data 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set VTableName 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dat_db_DynamicTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@pipeline().parameters.PSchemaName",
								"type": "Expression"
							},
							"table": {
								"value": "@variables('VTableName')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"PSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"variables": {
			"VTableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-17T16:14:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}